<!DOCTYPE html>
<html lang="en">

<head>
    <title>Faculty Scheduling</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <img src="/images/Dy Patil Logo.png" />
            </div>
            <ul class="menu cf">
                <li><a href="#"><i class="fa fa-home"></i> HOME</a></li>
                <li><a href="#"><i class="fa fa-"></i> ABOUT</a></li>
                <li><a href="#"><i class="fa fa-awesome"></i> CONTACT</a></li>
            </ul>


            <!-- <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#">
                    <button class="btn">Search</button>
                </a>
            </div> -->

        </div>
        <div class="content ">
            <h1><br>
                Online<br>
                <span> Faculty Scheduling </span><br>Dr. D Y Patil School Of Mca
            </h1>
            <div class="form">
                <form action="/auth" method="post">
                    <h2>Login Here</h2>
                    <input type="text" name="name" placeholder="Enter User Name / Email Here" required>
                    <input type="password" name="password" placeholder="Enter Password Here" required>
                    <button class="btnn">
                        <a>Login</a>
                    </button>
                </form>
                <p><br>
                    Don't have an account<br> <button class="btnn , btnnew"><a href="/Faculty">New Ragister </a>
                    </button>

                </p>
            </div>
        </div>
    </div>
</body>

</html>